header {
	background-color: white;
	width: 90%;
	display: block;
    margin-left: auto;
    margin-right: auto 
}
.onglet {
	background-color: white;
}
.onglet:hover {
	background-color: lightcoral;
	color : white;
}
footer {
	background-color: lightgray;
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
  }

